/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
format {
    font-family:Times;
	font-size: 16px;
	color: #45B39D;
}

#photo-resize {
    style="border: 2px dashed; #0000GG
	max-width: 200px ;
	max-height: 250px ;
}

.table-border {
    border: 3px solid #000000 ;
}
