/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
#format {
    font-family:Times;
	font-size: 16px;
	color: #FFFFFF;
}

#photo-resize {
    border: 2px dashed; #0000GG
	max-width: 200px ;
	max-height: 250px ;
}

.table-border {
    border: 1px solid #000000;
}

body {
	background-color: #f98ab4;
}
